.cs142-topbar-appBar {
  height: 60px;
  justify-content: center;
}

.topbar-right {
  margin-left: auto !important;
}

.topbar-text {
  max-width: 300px;
}

.add-photo-button {
  margin-left: 15px !important;
}

.drawer {
  min-width: 150px;
}

@media (max-width: 600px) {
  h6 {
      font-size: 1rem !important;
  }
}